@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');


* {
	margin: 0px;
	padding: 0px;
	font-family: 'Montserrat';
}

.container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: block;
}

.container .preloader {
	animation: rotate 2.3s cubic-bezier(0.75, 0, 0.5, 1) infinite;
}

@keyframes rotate {
	50% {
		transform: rotate(360deg);
	}

	100% {
		transform: rotate(720deg);
	}
}

.preloader span {
	position: absolute;
	display: block;
	height: 64px;
	width: 64px;
	background: rgb(137, 15, 15);
	border: 1px solid rgb(137, 15, 15);
	border-radius: 100%;
}

.preloader span:nth-child(1) {
	transform: translate(-28px, -28px);
	animation: shape_1 2.3s cubic-bezier(0.75, 0, 0.5, 1) infinite;
}

@keyframes shape_1 {
	60% {
		transform: scale(0.4);
	}
}

.preloader span:nth-child(2) {
	transform: translate(28px, -28px);
	animation: shape_2 2.3s cubic-bezier(0.75, 0, 0.5, 1) infinite;
}

@keyframes shape_2 {
	40% {
		transform: scale(0.4);
	}
}

.preloader span:nth-child(3) {
	position: relative;
	border-radius: 0px;
	transform: scale(0.98) rotate(-45deg);
	animation: shape_3 2.3s cubic-bezier(0.75, 0, 0.5, 1) infinite;
}

@keyframes shape_3 {
	50% {
		border-radius: 100%;
		transform: scale(0.5) rotate(-45deg);
	}

	100% {
		transform: scale(0.98) rotate(-45deg);
	}
}

.shadow {
	position: relative;
	top: 30px;
	left: 50%;
	transform: translateX(-50%);
	display: block;
	height: 16px;
	width: 64px;
	border-radius: 50%;
	background-color: #d9d9d9;
	border: 1px solid #d9d9d9;
	animation: shadow 2.3s cubic-bezier(0.75, 0, 0.5, 1) infinite;
}

@keyframes shadow {
	50% {
		transform: translateX(-50%) scale(0.5);
		border-color: #f2f2f2;
	}
}

.main_page {
	width: 100%;
	height: 736px;
	background-repeat: no-repeat;
	background-position: center center;
	justify-content: center;
	align-items: center;
	animation: fade_in 2s ease-in;
	display: none;
}

.filter_black {
	width: 100%;
	height: 844px;
	background: rgba(0, 0, 0, 0.545);
}

.main_page .text1 {
	width: 100%;
	height: 200px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-top: 100px;
}


.text2 {
	width: 330px;
	height: 200px;
	background: rgb(197, 88, 88);
	animation: fade_in 3s ease;
	display: flex;
	align-items: center;
}

.main_page .text2 p{
	color: white;
    margin-left: 45px;
    font-weight: 600;
    line-height: 24px;
}

.chp {
    position: relative;
    height: 200px;
    top: -105px;
    padding-left: 190px;
	
	animation: shake 5s infinite;
}

.header_p {
	width: 100%;
	height: 736px;
	background-repeat: no-repeat;
	background-position: center center;
	display: flex;
	justify-content: center;
	align-items: center;
	animation: fade_in 2s ease-in;
	display: none;
}

.header_p .text1 {
	width: 100%;
	height: 510px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.header_p .text1 h3 {
	font-size: 40px;
	width: 250px;
	text-align: center;
}

.main_page .text1 h3 {
	font-size: 32px;
	width: 250px;
	text-align: center;
}

.main_page .text1 h4 {
	font-size: 14px;
	width: 300px;
	text-align: center;
	font-weight: 500;
	margin-top: 7px;
}


.header_p p {
	font-size: 15px;
	width: 100%;
	text-align: center;
}


.choco {
	position: absolute;
	height: 181px;
	top: 320px;
	left: 110px;
	cursor: pointer;
}

.choco:hover {
	transform: scale(1.1);
}




@keyframes fade_in {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@keyframes shake {
	0% { transform: translate(0, 0) rotate(0deg); }
	25% { transform: translate(5px, 5px) rotate(5deg); }
	50% { transform: translate(0, 0) rotate(0eg); }
	75% { transform: translate(-5px, 5px) rotate(-5deg); }
	100% { transform: translate(0, 0) rotate(0deg); }
  }
