<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Date Night</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='media/css/style.css'>
</head>

<body>
    <div class="container">
        <div class="preloader">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div class="shadow">
        </div>
    </div>
     <section class="main_page">
             <div class="text1">
                <h3>Hi Mi Pancake!</h3>
                <h4>Esaki ta un invitashon spesial pa bo, a lux date night, You and Me<br>Send by: Nathaniel(Choco)</h4>
             </div>
            <div class="text2">
                <p>Location: Secret<br>
                    Horario: 7:00pm<br>
                    Dress code: Formal
                    <br>Dress to impress<br>
                    Date: 26 oktober 2022
                </p>
            </div>
            <img  class="chp" src="/media/photo/pancake_choco1.png" alt="">
    </section>
    <section class="header_p">
        <div class="text1">
                <h3>Pancake Date Night</h3>
                <h4>Message from your Choco</h4>
             </div>
             <img class="choco" id="choco" src="/media/photo/choco.png" alt="">
             <p>Klik Mi!</p>
    </section>
   


</body>
<script src="https://code.jquery.com/jquery-3.6.1.js"></script>
<script src="media/js/script.js"></script>

</html>